APP_NAME=Encurtador de URL
API_BASE_URL=http://localhost:8000
JWT_SECRET=troque-este-segredo
JWT_ALGORITHM=HS256
JWT_EXPIRES_MINUTES=10080

CASSANDRA_HOSTS=127.0.0.1
CASSANDRA_PORT=9042
CASSANDRA_KEYSPACE=url_shortener
CASSANDRA_DATACENTER=datacenter1
